<div id="gtco-counter" class="gtco-section">
    <div class="gtco-container">

      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
          <h2 class="cursive-font primary-color">Fatos</h2>
          <p>Delegadis gente finis, bibendum egestas augue arcu ut est. Cevadis im ampola pa arma uma pindureta!</p>
        </div>
      </div>

      <div class="row">

        <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
          <div class="feature-center">
            <span class="counter js-counter" data-from="0" data-to="5" data-speed="5000"
              data-refresh-interval="50">1</span>
            <span class="counter-label">Avaliação Média</span>

          </div>
        </div>
        <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
          <div class="feature-center">
            <span class="counter js-counter" data-from="0" data-to="43" data-speed="5000"
              data-refresh-interval="50">1</span>
            <span class="counter-label">Opções de Pratos</span>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
          <div class="feature-center">
            <span class="counter js-counter" data-from="0" data-to="32" data-speed="5000"
              data-refresh-interval="50">1</span>
            <span class="counter-label">Chefes de Cozinha</span>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
          <div class="feature-center">
            <span class="counter js-counter" data-from="0" data-to="1985" data-speed="5000"
              data-refresh-interval="50">1</span>
            <span class="counter-label">Desde</span>

          </div>
        </div>

      </div>
    </div>
  </div>