* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}
header .nav {
  display: flex;
  background: #fff;
  color: #000;
  position: relative;
  text-align: left;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}
header .nav div {
  margin: 0 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}/*# sourceMappingURL=index.css.map */