//COLORS
$black: #000;
$red: #ff0000;
$white: #fff;

//FONTS
$poppins: 'Poppins', sans-serif;
$roboto: "Roboto", sans-serif;

* {
  padding: 0;
  margin: 0;
  font-family: $roboto;
}
header {
  display: flex;
  justify-content: space-between;

    .nav {
      display: flex;
      background: $white;
      color: $black;
      position: relative;
      text-align: left;
      justify-content: flex-end;
      align-items: center;
      height: 50px;
      
      div {
        margin: 0 20px;
        font-weight: 600;
        font-family: $poppins;
      }
    }
}
