<%- include('page-header') %>
    <%- include('./inc/content/menus') %>
    <%- include('./inc/content/services') %>
    <%- include('./inc/content/text') %>
    <%- include('./inc/content/facts') %>
    <%- include('./inc/content/subscribe') %>
<%- include('page-footer') %>