<!DOCTYPE HTML>
<html>
<%- include('./inc/head') %>
<body>
  <div class="gtco-loader"></div>
  <div id="page">
    <%- include('./inc/header-menu') %>
    <% if(typeof isHome === 'boolean' && isHome) { %>
        <%- include('./inc/header-index') %>
    <%} else {%>
        <%- include('./inc/header') %>
    <% } %>

